
<table class="table table-bordered table-hover" id="tblUsuario">
    <thead>
        <tr>
            <th>
                ID
            </th>
            <th>
                Codigo Usuario
            </th>
            <th>
                Nombre
            </th>
            <th>
                Apellidos
            </th>
            <th>
                Estado
            </th>
        </tr>
    </thead>
    <tbody class="tbody">
    </tbody>
</table>

